# 1-)List

In [2]:
for i in [5,4,3,2,1,0]:
    print(i)
print("hello world")

5
4
3
2
1
0
hello world

# 2-) List and Definite Loops

In [4]:
names=["Joseph","gleen","Sally"]
for name in names:
    print("Happy New Year:",name)

print("Done!")

Happy New Year: Joseph
Happy New Year: gleen
Happy New Year: Sally
Done!

In [5]:
A=["Joseph","gleen","Sally"]
for x in A:
    print("Happy New Year:",x)

print("Done!")

Happy New Year: Joseph
Happy New Year: gleen
Happy New Year: Sally
Done!

# 3-)Looking Inside Lists

In [1]:
names=["Joseph","Gleen","Sally"]
print(names[1])

Gleen

# 4-) List Are Mutable

In [3]:
x=[2,14,26,41,63]
print(x)

[2, 14, 26, 41, 63]

In [4]:
x[2]=1000
print(x)

[2, 14, 1000, 41, 63]

In [5]:
print(len(x))

5

# 6-) Concatenating Lists Using "+" sign

In [15]:
a=[1,2,3]
b=[4,5,6]
c=a+b
print(c)
print(a)

[1, 2, 3, 4, 5, 6]
[1, 2, 3]

# 7-)List can be Sliced  Using ":" sign

In [16]:
t=[9,42,34,65,2,13,74,12,98,23]
t[1:3]

[42, 34]

In [17]:
t[:4]

[9, 42, 34, 65]

In [18]:
t[3:]

[65, 2, 13, 74, 12, 98, 23]

In [19]:
t[:]

[9, 42, 34, 65, 2, 13, 74, 12, 98, 23]

# 8-) Building  a List from Scratch

In [20]:
x=list()
x.append("book")
x.append(99)
print(x)

['book', 99]

In [21]:
x.append("cookie")

In [22]:
print(x)

['book', 99, 'cookie']

In [23]:
## Is Something in a list?

In [24]:
some=[1,9,21,10,16]
9 in some

True

In [25]:
15 in some

False

In [26]:
20 not in some

True

In [27]:
## list are in order

In [31]:
names=["Joseph","Gleen","Sally"]
names.sort()
print(names)
print(names[1])

['Gleen', 'Joseph', 'Sally']
Joseph

In [32]:
#Built-in Function and lists

In [33]:
nums=[3,41,12,9,65,21,43,112]
print(len(nums))
print(max(nums))
print(min(nums))
print(sum(nums))
print(sum(nums)/len(nums))

8
112
3
306
38.25

In [2]:
total=0
count=0
while True:
    inp=input("Enter a number: ")
    if inp=="done":
        break
    value=float(inp)
    total=total+value
    count=count+1
average=total/count
print("Average:", average)

Enter a number: 45
Enter a number: 87
Enter a number: 13
Enter a number: 90
Enter a number: done
Average: 58.75

In [35]:
numlist=list()
while True:
    inp=input("Enter a number: ")
    if inp=="done":
        break
    value=float(inp)
    numlist.append(value)
average=sum(numlist)/len(numlist)
print("Average:",average)

Enter a number: 4
Enter a number: 5
Enter a number: 6
Enter a number: 3
Enter a number: done
Average: 4.5

# 9-) Strings and Lists

In [1]:
abc="With three words"
x=abc.split()
print(x)

['With', 'three', 'words']

In [2]:
print(len(x))
print(x[1])

3
three

In [4]:
for i in x:
    print(i)

With
three
words

In [5]:
line=" A lot        of spaces"
etc=line.split()
print(etc)

['A', 'lot', 'of', 'spaces']

In [9]:
line1="first;second;third"
thing=line1.split()
print(thing)
print(len(thing))
type(thing)

['first;second;third']
1

list

In [8]:
thing=line1.split(";")
print(thing)
print(len(thing))
#you should specify what delimiter character to use in the splitting

['first', 'second', 'third']
3

# 10-) The Double Split Pattern

In [10]:
line=" From stephen.marquard@uct.ac.za Sat Jan 5 09:14:16 2008"
words=line.split()
email=words[1]
print(words)
print(email)

['From', 'stephen.marquard@uct.ac.za', 'Sat', 'Jan', '5', '09:14:16', '2008']
stephen.marquard@uct.ac.za

In [13]:
pieces=email.split("@")[1]
print(pieces)

uct.ac.za

In [17]:
words=line.split()[1].split("@")[1]
print(words)

uct.ac.za

# EXERCISE 3

* 1-)Open the file romeo.txt and read it line by line.



* 2-) For each line, split the line into a list of words using the split() method.



* 3-)The program should build a list of words. For each word on each line check to see if the word is already in the list and if not append it to the list. 




* 4-)When the program completes, sort and print the resulting words in alphabetical order.

In [19]:
filename = input("Enter file name: ")
xfile = open(filename)
lst = list()
for line in xfile:
    words=line.rstrip().split()
    for word in words:
        if word in lst:
            continue
        else:
            lst.append(word)
lst.sort()
print(lst)

Enter file name: romeo.txt
['Arise', 'But', 'It', 'Juliet', 'Who', 'already', 'and', 'breaks', 'east', 'envious', 'fair', 'grief', 'is', 'kill', 'light', 'moon', 'pale', 'sick', 'soft', 'sun', 'the', 'through', 'what', 'window', 'with', 'yonder']

# EXERCISE 4

* 1-)Open the file mbox-short.txt and read it line by line. 




* 2-)When you find a line that starts with 'From ' like the following line:From stephen.marquard@uct.ac.za Sat Jan  5 09:14:16 2008



* 3-)You will parse the From line using split() and print out the second word in the line (i.e. the entire address of the person who sent the message). 



* 4-) Then print out a count at the end.


**Hint: make sure not to include the lines that start with 'From:'.**

In [1]:
fname = input("Enter file name: ")
fhand=open(fname)
count=0
for line in fhand:
    line = line.rstrip()
    if line == "": 
        continue
        
    words = line.split()
    if words[0] !="From": 
        continue
        
    print(words[1])
    count = count+1

print ("There were", count, "lines in the file with From as the first word")

Enter file name: mbox-short.txt
stephen.marquard@uct.ac.za
louis@media.berkeley.edu
zqian@umich.edu
rjlowe@iupui.edu
zqian@umich.edu
rjlowe@iupui.edu
cwen@iupui.edu
cwen@iupui.edu
gsilver@umich.edu
gsilver@umich.edu
zqian@umich.edu
gsilver@umich.edu
wagnermr@iupui.edu
zqian@umich.edu
antranig@caret.cam.ac.uk
gopal.ramasammycook@gmail.com
david.horwitz@uct.ac.za
david.horwitz@uct.ac.za
david.horwitz@uct.ac.za
david.horwitz@uct.ac.za
stephen.marquard@uct.ac.za
louis@media.berkeley.edu
louis@media.berkeley.edu
ray@media.berkeley.edu
cwen@iupui.edu
cwen@iupui.edu
cwen@iupui.edu
There were 27 lines in the file with From as the first word